
@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid: auto / 15vw auto 15vw;
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    display: none;
  }
  .right {
    margin-bottom: 12px;
  }
  .container right:last-child {
    margin-bottom: 80px;
  }
}

.container > div {
  background: lightgray;
  border: 1px solid gray;
  padding: 18px;
}

.container {
  padding: 8px;
}

.shot img {
  width: 14vw;
}
