<ng-container *ngIf="ready | async">
  <div class="container">
    <div class="title">Link</div>
    <div class="title">Description</div>
    <div class="title">Published</div>
    <ng-container *ngFor="let row of links">
      <div>
        <a href="{{row.href}}" target="_blank">{{row.title}}</a>
      </div>
      <div>{{row.description}}</div>
      <div class="right">{{row.published}}</div>
    </ng-container>
  </div>
</ng-container>
