<ng-container *ngIf="ready | async">
  <div class="container">
    <div class="geo">
      <span (click)="showGeoDetails = !showGeoDetails;"><fa-icon [icon]="faCity"></fa-icon> {{geo.city}}, {{geo.state_prov}}, {{geo.country_code2}}</span>
      <div *ngIf="showGeoDetails" class="geo-details" (click)="showGeoDetails = false;">
        <div class="inner-container">
          <h1>Geo JSON Response</h1>
          <pre>{{geo | json}}</pre>
        </div>
      </div>
    </div>
    <div class="weather">
      <span (click)="showWeatherDetails = !showWeatherDetails;">{{weather.main.temp.toFixed(0)}} <fa-icon [icon]="faTemp"></fa-icon></span>
      <div *ngIf="showWeatherDetails" class="weather-details" (click)="showWeatherDetails = false;">
        <div class="inner-container">
          <h1>Weather JSON Response</h1>
          <pre>{{weather | json}}</pre>
        </div>
      </div>
    </div>
  </div>
</ng-container>
