
.container {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.weather,.geo {
  /*transform: translateY(-100%);*/
  cursor: pointer;
}

.inner-container {
  position: fixed;
  text-align: left;
  padding: 20px;
  bottom: 60px;
  max-height: 75vh;
  border: 1px solid #555;
  border-radius: 6px;
  overflow-y: auto;
  background: #ccc;
}

.weather .inner-container {
  right: 20px;
}

.geo .inner-container {
  left: 20px;
}
