app-responsive-links {
  display: block;
}

app-weather {
  display: block;
  background: lightgray;
}

@media only screen and (min-width: 600px) {
  app-weather {
    position: fixed;
    box-shadow: 5px 5px 40px 4px black;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: lightgray;
    border-top: 2px solid gray;
  }

  app-responsive-links {
    margin: 45px auto 70px auto;
    box-shadow: 5px 5px 40px 4px black;
    width: 90vw;
    max-width: 1200px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    animation: zoom-in;
    animation-duration: 0.75s;
  }
}

@media only screen and (max-width: 600px) {
  app-responsive-links {
    width: 100%;
  }
}

.logo-container {
  margin-top: 15px;
  text-align: center;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
