/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a:visited, a:hover, a:active, a {
  color: black;
}
